{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
     <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{%block title%}{%endblock%}</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
         
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
     </head>
     <body>


<nav class="navbar navbar-expand-lg top-fixed" style="background-color:#1a1a1a">
  <a class="navbar-brand" href="{% url 'post_list' %}" style="color:#dc3e3e"><img src="{% static 'media/popcorn.png' %}" style="height: 40px;transform:rotate(10deg);"></img></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'serials' %}" style="color:white">Serialy</a>
      </li>
    </ul>
    <form class="form-inline ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
    </form>

	
  </div>
</nav>
<div class="container row-fluid" style="text-align:center;">
	<a href="{% url 'post_list' %}">
      <img class="logo" src="{% static 'media/logo.png' %}" style="margin-bottom:15px;"></img>       
	</a>
</div>

             {% block content %}
             {% endblock %}
        

         

</body>
</html>

