{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
     <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81805433-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-81805433-1');
</script>
	<meta name="google-site-verification" content="uDPvJZnfEuiVfjPjptxe1Lm6-R8deTGQj9Sa16h1hQ4" />
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name=“description“ content="{%block description%}{%endblock%}" />
	<title>{%block title%}{%endblock%}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>	
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="{% static 'media/popcorn.png' %}" rel="icon" type="image/png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

</head>
<body>
	<nav class="navbar navbar-expand-sm top-fixed" style="background-color:#1a1a1a">
		<a class="navbar-brand" href="{% url 'post_list' %}" style="color:#dc3e3e"><img src="{% static 'media/popcorn.png' %}" style="height: 40px;transform:rotate(10deg);"></img></a>

  <div class="navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'serials' %}" style="color:white">Serialy</a>
      </li>
    </ul>  
	<form class="mk-search-form" method="GET">
		<input class="search form-control mr-sm-2" id="search" type="search" placeholder="Hledej serial" onkeyup="f(this.value)" autocomplete="off">  
		   
	<div id="demo">
	</div>
	</form>	
  </div>
</nav>
<div class="container row-fluid" style="text-align:center;">
	<a href="{% url 'post_list' %}">
      <img class="logo" src="{% static 'media/logo.png' %}" style="margin-bottom:15px;"></img>       
	</a>
</div>
<script type="application/javascript">
function f(value){

$.ajax({
    type: "GET",
    url: '/api/get_array/'+value,
    success: function(json){
	var ara = new Array(json["content"]["serial"]);
	var content = '<ul>';
	for(index = 0; index < ara[0]["length"]; index++){
		console.log(ara[0][index]);
		content = content.concat("<a href=/serial/" , ara[0][index].replace(" ","%20")  , "><li>" , ara[0][index] , "</li></a>");
		if(index === 3){break;}
	}
	content = content.concat("</ul>");
        document.getElementById("demo").innerHTML = content;
	if(ara[0]===""){document.getElementById("demo").innerHTML = '';}
    },
    error: function(jqXHR, textStatus, errorThrown){
         document.getElementById("demo").innerHTML = '';
    }
});
}


</script>


             {% block content %}
             {% endblock %}

<div class="container" style="padding:25px;background-color:#0d0d0d">
	<div class="row">
		<div class="col-sm-6">
			2018 OnlineCZserialy.cz
		</div>
		<div class="col-sm-6">
			<a href="{% url 'dmca' %}"> Podminky / DMCA </a>
		</div>
	</div>
</div>


</body>

</html>

