

{% extends 'serials/base.html' %}
{% load staticfiles %}

{% block title %}

OnlineCZserialy DMCA

{% endblock %}


{% block content %}

<div class="container text-white">
<div style="background-color: #0d0d0d;padding-top: 5px;padding-bottom: 5px;margin-bottom:15px;">
<div class="row-fluid">
<h1>Podminky pouzivani</h1>

</div>



</div>

<p>
Provozovatel nenese odpovědnost za porušení autorského práva, z důvodu, že žádné video se nenachází na jeho serveru a nemá možnost si ověřit dodržování autorského práva ze strany jiných provozovatelů stránek, kteří tato díla zpřístupňují.
</p>
<p>
Stránka OnlineCZserialy.cz pouze odkazuje na videa embedovanim, které bylo EU soudem prohlášeno jako legální a tím neporušuje žádný zákon.
</p>

<p>


</p>


</div>


{% endblock %}
