{% extends 'serials/base.html' %}
{% load staticfiles %}

{% block title %}

Popcorn - online seriály zdarma

{% endblock %}


{% block content %}
<div class="container-fluid background-orange-base">
<div class="row-fluid">
<a href="{% url 'serial' name=toppost.name %}">
<img src="../../static/media/{{toppost.image}}" class="img-responsive">
</a>
</div>
</div>
<div class="container">
<div class="my-items">
<h2 style="color: white;">Nově přidáno</h2>
<div class="row">
{% for post in posts %}
<div class="col-sm-4"> 
<a href="{% url 'post_detail' name=post.name sn=post.serie en=post.episode %}" class="badge">
	<h1 style="color:#777">{{ post.title }}</h1>    
	<img src="../../static/media/{{post.url2_cz}}"></img>
         <div class="series">
             {{ post.serie }}x{{post.episode}}
         </div>
</a>
</div>


{% endfor %}
</div>
</div>
</div>



{% endblock %}
