{% extends 'serials/base.html' %}
{% load staticfiles %}

{%block metatags%}

<meta property="og:image" content="../../../static/media/{{serial.image}}">
<meta property="og:title" content="{{post.title}} | {{serial.title_cz}} S{{post.serie}}E{{post.episode}}">
<meta property="og:description" content="{{serial.sub_title|truncatechars:100}}">
{%endblock%}

{% block title %}

{{post.title}}

{% endblock %}

{%block description%}

Sleduj {{post.title}} s{{post.serie}}e{{post.episode}} zdarma online.

{%endblock%}

{% block content %}

<div class="container background-orange-base" style="background-color:transparent;">

<a href="{% url 'serial' name=toppost.name %}">
<img class="img-responsive" src="/static/media/{{toppost.image}}" width="1110" style="width:100%;max-height:360px;height:auto;margin: 25px 0 25px 0;">
</a>
</div>
<div class="container" style="padding-bottom:25px;">

<div class="my-title">
	<div class="row">
		<div class="col-sm-5">
			<a href="{% url 'serial' name=post.name %}">
			<img class="img-responsive" src="../../../static/media/{{serial.image}}"> 
			</a>
		</div>
		<div class="col-sm-7" >
				<div class="col-12 post_detail_title" style="padding-left:0px;">
					<a><h2><a href="{% url 'serial' name=post.name %}">{{post.title}} </a>- s{{post.serie}}e{{post.episode}}</h2>
				</div>
			<div class="row">
				<div class="col-12 post_detail_title">
					<h3>{{post.url2}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="{{post.url1}}" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" width="850" height="370" frameborder="0">
	</iframe>				
</div>
<div class="row">
	<div class="col-6 text-center">
		{% if prev %}
		<a href="{% url 'post_detail' name=prev.name sn=prev.serie en=prev.episode %}">
		{% endif %}			
			<div class="next_prev">
				predchozi epizoda
			</div>
		{% if prev %}
		</a>
		{% endif %}
	</div>
	<div class="col-6 text-center">
		{% if next %}
		<a href="{% url 'post_detail' name=next.name sn=next.serie en=next.episode %}">
		{% endif %}		
			<div class="next_prev">
				dalsi epizoda
			</div>
		{% if next %}
		</a>
		{% endif %}
	</div>
</div>
	<div class="row text-center">
		<div class="col-xl-12">
		</div>
	</div>
</div>

{% endblock %}
