{% extends 'serials/base.html' %}
{% load staticfiles %}

{% block title %}

Online seriály zdarma

{% endblock %}

{% block content %}

<div class="container background-orange-base" style="background-color:transparent;">

	<a href="{% url 'serial' name=toppost.name %}">
		<img class="img-responsive" src="/static/media/{{toppost.image}}" style="width:100%;max-height:360px;height:auto;margin: 25px 0 25px 0;">
	</a>
</div>
<div class="container">


	{% for serial in serials %}
	<a href="{%  url 'serial' name=serial.name %}" style="margin:0;" data-zaner="{{serial.zaner}}" data-start="{{serial.start_yr}}" data-end="{{serial.end_yr}}" data-title="{{serial.title}}">
	<div class="row-fluid my-serials">
		
		<div class="col-5-sm">
		<img class="img-responsive" src="/static/media/{{serial.image}}">
		</div>
		<div class="col-7-sm my-serials-text">
			
			<h2>{{serial.title}}</h2> {{serial.url1}}% | {{serial.delka}} MIN | {{serial.start_yr}} - {{serial.end_yr}}
			<p>
			{{serial.sub_title|truncatechars:147}}
			</p>
			
		</div>
		
	</div>
	</a>
	{% endfor %}
</div>

{% endblock %}
